.header {
    background-color: lightsalmon;
    margin-bottom: 20px;
    
}

.header-title {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: maroon;
   font-weight: 900;
   
}

.header-info {
    font-weight: 100;
    color: rgb(48, 44, 44);
}
    
